
@{
    ViewData["Title"] = "About";
}

<h1>Resume</h1>

<section class="resume work-experience">
    <h2>Work experience</h2>

    <h3><i class="years-active">2021 – present</i> Freelance web developer</h3>
    <p>I build and administer websites using the WordPress Content Management System. Projects range from simple static websites to complex, database-driven domains. Recent clients include the Church of Sweden, the Humanist Society of Alingsås and the association Bibliotekets Vänner.</p>

    <h3><i class="years-active">2013-2020</i> Receptionist at Dandent Dentistry, Gothenburg</h3>
    <p>As a receptionist, I was the face of the company and it was my job to make sure that the work at the clinic flowed smoothly without interruptions. I enjoy helping people and for that reason I found the daily contact with patients very rewarding. The administrative side of the job also allowed me to apply my natural sense of order and meticulousness to my work. I have always enjoyed organizing and structuring my work and it was those qualities that motivated me to produce documents to simplify and streamline the company’s salary management and stocktaking processes as well as their hygiene procedures.</p>
</section>


<section class="resume education">
    <h2>Education</h2>

    <h3><i class="years-active">2022 - present</i> .NET-development, Lexicon Yrkesutbildning i Väst</h3>
    <p>I am currently broadening my programming expertise by adding familiarity with the .NET development platform and its associated technologies to my skillset.</p>

    <h3><i class="years-active">2018-2019</i> Web programming and Databases, Blekinge Institute of Technology.</h3>
    <p>This online set of courses further developed and deepened my knowledge of programming for the web, with a focus on developing database-driven websites.</p>

    <h3><i class="years-active">2016-2017</i> Web development and Programming, Blekinge Institute of Technology.</h3>
    <p>This set of online courses has given me basic knowledge of programming in general and developing web-based applications in particular.</p>
</section>

