@{
    ViewData["Title"] = "FeverCheck";
    double selectedTemp = ViewBag.Temp ?? 37;
    string selectedScale = ViewBag.Scale ?? "celsius";
    string tempColor = ViewBag.Color ?? "";
}


<h1>Check your temperature</h1>

<form asp-controller="Doctor" asp-action="FeverCheck" method="post" class="fever-check">
    <fieldset>
        <legend>Enter temperature:</legend>
        <label for="temp">Temperature:</label>
        <input type="number" id="temp" name="temp" value=@selectedTemp step="0.1" required>
    </fieldset>

    <fieldset>
        <legend>Select scale:</legend>
        <label for="fahrenheit">
            <input type="radio" id="fahrenheit" name="scale" value="fahrenheit" @(selectedScale == "fahrenheit" ? "checked" : "")>
            Fahrenheit
        </label>
        <label for="celsius">
            <input type="radio" id="celsius" name="scale" value="celsius" @(selectedScale == "celsius" ? "checked" : "")>
            Celsius
        </label>
    </fieldset>

        <input type="submit" value="Check temperature" class="submit">
</form>

@if(ViewBag.Message != null)
{
    <p class="message fever-check @tempColor">@ViewBag.Message</p>
}

